pytest==6.2.4
pytest-html
pytest-sugar
kafka-python
requests~=2.26.0
testrail~=0.3.13
allure-pytest
pytest-rerunfailures
pytest-testconfig
pytest-logger
xlrd~=2.0.1
deepdiff~=5.5.0
cassandra-driver~=3.25.0
pytest-testrail
pytz~=2021.1